<%- include ('../partials/header') %>



<!-- [FEATURED MOVIES]-->
<div class="container">
  <p class="text-center custom-title">Featured movies</p>
  <!-- Added review popup -->
<div hidden id="reviewAdded" class="alert alert-primary" role="alert">
      Review added successfully!  
</div>
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center" id="movieCards">
    <% for(var i = 0; i < movies.length; i++) { %>
      <div class="col">
        <div class="card movie-card">
          <img src="<%= movies[i].posterimage %>" class="card-img-top movie-image" alt="<%= movies[i].title %>"
            onerror="console.error('Image load error:', '<%= movies[i].posterimage %>')">
          <div class="card-body">
            <h5 class="card-title"><%= movies[i].title %></h5>
            <div class="button-container">
              <button type="button" class="btn btn-outline-primary movie-btn" onclick='addReviewModal("<%= movies[i].title %>","<%= movies[i].movieid %>")'>Review</button>
              <button type="button" class="btn btn-outline-primary movie-btn" onclick="location.href='/movie/<%= movies[i].movieid %>';">Details</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<!-- Searching Feature -->
<div class="container mt-3 search">
  <div class="row">
    <div class="col-12 mb-3">
      <p class="text-center custom-title">Search Movies</p>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control" id="movieSearch" placeholder="Search movies" aria-label="Search movies"
          onkeyup="search()">
      </div>
    </div>
  </div>
  <!-- Search results -->
  <div id="movieResults">
    <% movies.forEach(movie => { %>
    <div class="movie-row">
      <div class="movie-title"><%= movie.title %></div>
      <div class="movie-actions">
        <button type="submit" class="btn btn-info" onclick='addReviewModal("<%= movie.title %>","<%= movie.movieid %>")'>Add a
          review</button>
        <button type="submit" class="btn btn-success" onclick="location.href='/movie/<%= movie.movieid %>';">View Details</button>
      </div>
    </div>
    <% }) %>
  </div>
</div>


<!-- Movie Rating Modal -->
<div class="modal fade movie-modal" id="movieRatingModal" tabindex="-1" aria-labelledby="movieRatingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="movieRatingModalLabel">Rate Movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="movieName">Movie Name</p>
        <div id="starRating" class="star-rating">
          <!-- Generate stars using JavaScript -->
        </div>
      </div>
      <div class="form-group">
        <label for="reviewText">Review text (optional)</label>
        <textarea class="form-control" id="reviewText" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="submitReview" class="btn btn-primary" disabled>Submit Review</button>
      </div>
    </div>
  </div>
</div>

<!-- move pop-up scripting -->
<script src="/js/home.js"></script>

<%- include ('../partials/footer') %>