<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movie Reviews</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- ignore all of this I will move it -->
  <style>
    html,
    body {
      height: 100%;
    }

    .container {
      width: 100%;
      padding: 10px;
    }

    .movie-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    .movie-title {
      flex-grow: 1;
    }

    .movie-actions {
      display: flex;
      justify-content: flex-end;
    }

    .star-rating {
      display: inline-flex;
      direction: rtl;
    }

    .star-rating input[type="radio"] {
      display: none;
    }

    .star-rating label {
      color: lightgray;
      font-size: 50px;
      cursor: pointer;
    }

    #movieName {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .star-rating label::before {
      content: '\f005';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

    .star-rating label.half::before {
      content: '\f089';
      /* FontAwesome half star */
    }

    .modal-dialog {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: calc(80% - (1.75rem * 1));
      /* Adjust top and bottom padding */
    }

    .modal-content {
      margin: auto;
      text-align: center;
    }

    #submitReview {
      width: 100%;
      border-radius: 10px;
      transition: 500ms;
    }

    .star-rating label:hover,
    .star-rating label:hover~label,
    .star-rating input[type="radio"]:checked~label {
      color: gold;
      transition: 200ms;
      text-shadow: 0 0 5px #ffc107;
      /* Soft glow on hover */
    }

    .star-rating {
      justify-content: center;
      padding: 10px 0;
    }

    .star-rating label {
      padding: 2px;
      margin: 0;
    }

    .star-rating label::before {
      display: inline-block;
    }
    #emote{
      margin-top: 10px;
      margin-bottom:10px;
    }
    .card {
      display: flex;
      flex-direction: column;
      height: 240px;
      overflow: hidden;
    }

    .col-md-4 {
      height: 240px;
    }

    .img-fluid {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .col-md-8 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  </style>
</head>

<body>

  <!-- Navbar (will be replaced with partials later) -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Movie Reviews</a>
    </div>
  </nav>

  
    <!-- [FEATURED MOVIES]-->
    <div class="custom-container">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="movieCards">
  
        <% for(var i = 0; i < 6; i++) { %>
        <div class="featuredMovie col">
          <div class="card mb-3" style="max-width: 450px;">
  
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%= movies[i].posterimage %>" class="img-fluid rounded-start" alt="<%= movies[i].title %>"
                  onerror="console.error('Image load error:', '<%= movies[i].posterimage %>')">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><%= movies[i].title %></h2>
                  <p class="card-text"><%= movies[i].description %></p>
                  <!-- I'm just disabling this for now -->
                  <!-- <p class="card-text">Release Date: <%= movies[i].releasedate %></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  
 
  <!-- Searching Feature (to-do) -->
  <div class="container mt-3">
    <h1> Search for Movies </h1>
    <!-- Search Form -->
    <form action="/search" method="get">
      <label for="searchInput">Search:</label>
      <input type="text" id="searchInput" name="movieName" placeholder="Enter search term" required>
      <button type="submit">Search</button>
    </form>

  

  </div>

  <!-- Search results (hard coded for now for pop-up) [STILL NOT FULLY IMPLEMENTED]-->
  <div class="container mt-3">
    <!-- to be templated -->
    <% movies.forEach(movie => { %>
    <div class="movie-row">
      <div class="movie-title"><%= movie.title %></div>
      <div class="movie-actions">
        <button type="submit" class="btn btn-outline-info" onclick="addReviewModal('<%= movie.title %>',1)">Add a
          review</button>
        <button type="submit" class="btn btn-outline-dark">View</button>
      </div>
    </div>
    <% }) %>

    <!-- Repeat the above block for each movie -->
  </div>

  <!-- Movie Rating Modal -->
  <div class="modal fade" id="movieRatingModal" tabindex="-1" aria-labelledby="movieRatingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movieRatingModalLabel">Rate Movie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="movieName">Movie Name</p>
          <div id="starRating" class="star-rating">
            <!-- Generate stars using JavaScript -->
          </div>
        </div>
        <!-- centered emoji -->
        <div class="text-center" id="emote">
          <i class="fa-solid fa-face-sad-tear fa-2x"></i>
        </div>
        <div class="modal-footer">
          <button type="button" id="submitReview" class="btn btn-primary" disabled>Submit Review</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>

  <!-- move pop-up scripting -->
  <script>
    //global variables for pop-up & movie.
    let globalMovieTitle;
    let globalMovieId;
    let globalStarRating;

    async function addReviewModal(movieTitle, movieId) {
      // Set global variables
      globalMovieTitle = movieTitle;
      globalMovieId = movieId;
      openRatingModal();
    }

    function openRatingModal() {
      // Set the movie name
      document.getElementById('movieName').textContent = globalMovieTitle;

      // Generate stars
      let starRatingDiv = document.getElementById('starRating');
      starRatingDiv.innerHTML = '';

      // Add half star
      starRatingDiv.innerHTML += `
      <input type="radio" id="starHalf" name="rating" value="0.5" />
      <label id="half" for="starHalf" class="half"></label>`;
      // Add 6 full stars
      for (let i = 6; i >= 1; i--) {
        starRatingDiv.innerHTML += `
      <input type="radio" id="star${i}" name="rating" value="${i}" />
      <label id="label${i}" for="star${i}"></label>`;
      }
      let emote = document.getElementById('emote');

      for (let i = 6; i >= 1; i--) {
        //add mouseover event listener to change the emote
        document.querySelector(`#label${i}`).addEventListener("mouseover", function(){
          if (i >= 2 && i < 4) {
            emote.innerHTML = `<i class="fa-solid fa-face-sad-tear fa-2x"></i>`;
          } else if (i >= 4 && i < 6) {
            emote.innerHTML = `<i class="fa-solid fa-face-meh fa-2x"></i>`;
          } else if (i == 6) {
            emote.innerHTML = `<i class="fa-solid fa-face-smile fa-2x"></i>`;
          }
        })
      }

      //half star
      document.querySelector(`#half`).addEventListener("mouseover", function(){
        emote.innerHTML = `<i class="fa-solid fa-face-grin-stars fa-2x"></i>`;
      })

      // Add event listener to enable submit button
      starRatingDiv.querySelectorAll('input').forEach(input => {
        input.addEventListener('change', () => {
          // set submit review to call submitReview function
          globalStarRating = (input.value == .5) ? 6.5 : input.value;
          document.getElementById('submitReview').disabled = false;
          document.getElementById('submitReview').addEventListener('click', submitReview);
        });
      });

      // Show modal
      var modal = new bootstrap.Modal(document.getElementById('movieRatingModal'));
      modal.show();
    }

    function submitReview() {
      console.log(globalStarRating);
      //TODO Ian
    }
  </script>
</body>

</html>